* {
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg {
    padding: 0px;
    border-radius: 8px;
    height: 100vh;
    margin: 0;
}

.cont {
    width: 100%;
    padding: 0;
}

.datos {
    background-color: #003366;
    color: white;
    padding: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

.heading {
    font-size: 18px;
}

.custom-card-body {
    padding: 10px;
}

.custom-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: visible;
}

.btn {
    margin-top: 30px;
}

.botones {
    margin-bottom: 20px;
}

.custom-button {
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

    .custom-button:hover {
        background-color: #138496;
    }

.total-venta {
    padding: 10px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group input {
    width: auto;
    padding: 5px;
    flex: 1;
    padding-left: 12px;
}

.input-group button {
    margin-left: 10px;
}

.input-group button {
    width: auto;
    background-color: #007EA7;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .input-group button:hover {
        background-color: #005580;
        color: #ffffff;
    }

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    overflow: visible;
}

h3 {
    margin: 0;
}

@media (max-width: 768px) {
    h3 {
        font-size: 20px;
        margin-top: 700px;
        margin-bottom: 10px;
    }

    .row {
        flex-direction: column;
    }

    .first-div {
        margin-bottom: 15px;
    }
}
